/* vars */
$header-background: #333;
$header-name: #EAEAEA;
$header-title: #DDD;
$header-border: #F8961D;

$sh-col: #777;

$p-size: 15px;
/* end vars */

/* mixins */
@mixin header {
  font-family: 'Francois One', sans-serif;
}

@mixin body-text {
  font-family: 'Open Sans', sans-serif;
}

@mixin vertical-center {
  position:absolute;
  top:50%;
  transform: translateY(-50%);
}
/* end mixins */

.container {
  width: 1400px;
}

body {
  font-size: small;
  background: #E7E7E7;
}

header {
  height: 250px;
  background: $header-background;
  border-top: 3px solid $header-border;

  .container {
    height: 200px;
    padding-top: 25px;

    h1 {
      color: $header-name;
      @include header;
    }

    h2 {
      color: $header-title;;
      font-size: 150%;
      @include body-text;
    }

    .col-sm-2 {
      height: 200px;
    }

    img {
      position:absolute;
      top:50%;
      transform: translateY(-50%);
      max-width: 90%;
      padding: 5%;
    }
  }
}

.main-content {
  margin-top: 50px;
}

.content-section {
  width: 100%;
  background: #fff;
  margin-top: 25px;
  padding: 25px;

  h3 {
    margin: 0 0 20px 0;
    font-size: 200%;
    color: #666;
    @include header;
  }

  p {
    color: #666;
    @include body-text;
    font-size: $p-size;
  }
}

.work-experience {
  .item {

    h4 {
      @include header;
      color: $sh-col;

      span {
          color: lighten($sh-col, 10%);
      }
    }

    p {
      @include body-text;
    }
  }
}

.contact {
  ul {
    margin: 0;
  }
}

.education {
  .degree {
    @include header;
    color: $sh-col;
    font-size: 150%;
    i {
      width: 25px;
    }
  }
  .institution {
    padding-left: 25px;
    @include body-text;
    font-size: $p-size;
    color: $sh-col;
  }
}

footer {
  height: 50px;
  background: $header-background;
  border-top: 3px solid $header-border;
  margin-top: 50px;
}
