{{ with .Site.Params.Social.github }}
  <li><a href="//github.com/{{.}}" target="_blank" title="GitHub" class="fa fa-github"></a></li>
{{ end }}

{{ with .Site.Params.Social.gitlab }}
  <li><a href="//gitlab.com/{{.}}" target="_blank" title="GitLab" class="fa fa-gitlab"></a></li>
{{ end }}
{{ with .Site.Params.Social.medium}}
  <li><a href="//medium.com/@{{.}}" target="_blank" title="Medium" class="fa fa-medium"></a></li>
{{ end }}

{{ with .Site.Params.Social.linkedin }}
  <li><a href="//linkedin.com/in/{{.}}" target="_blank" title="LinkedIn" class="fa fa-linkedin"></a></li>
{{ end }}

{{ with .Site.Params.Social.tiktok }}
  <li><a href="//tiktok.com/@{{.}}" target="_blank" title="TikTok" class="fa fa-tiktok"></a></li>
{{ end }}

{{ with .Site.Params.Social.reddit }}
  <li><a href="//reddit.com/user/{{.}}" target="_blank" title="Reddit" class="fa fa-reddit"></a></li>
{{ end }}
{{ with .Site.Params.Social.youtube }}
  <li><a href="//youtube.com/{{.}}" target="_blank" title="YouTube" class="fa fa-youtube"></a></li>
{{ end }}

{{ with .Site.Params.Social.email }}
  <li><a href="mailto:{{.}}" title="Email" class="fa fa-envelope"></a></li>
{{ end }}
